@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  bottom: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Fredoka", sans-serif;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header,
footer {
  padding: 20px 0;
  background-color: black;
  color: #ccc;
  font-size: 30px;
  -webkit-box-shadow: 0 0 30px black;
          box-shadow: 0 0 30px black;
  z-index: 1;
}

footer {
  font-size: 18px;
}

img {
  margin: 0 0 10px 0;
  max-width: 100%;
  border-radius: 1em;
}

a:link,
a:visited {
  color: #ccc;
}

a {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  color: #5500b6;
}

header nav::before {
  content: "#";
  color: #5500b6;
}

footer span::before {
  content: "© ";
  color: #5500b6;
}

.wrapper {
  padding: 50px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background-color: #1f1f1f;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#10332d), color-stop(40%, #192b44), color-stop(60%, #371c44), to(#410c35));
  background-image: linear-gradient(to bottom right, #10332d 0%, #192b44 40%, #371c44 60%, #410c35 100%);
  background-size: 200% 200%;
  -webkit-animation: movingGradient 5s linear infinite alternate;
          animation: movingGradient 5s linear infinite alternate;
}

@-webkit-keyframes movingGradient {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

@keyframes movingGradient {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
.content {
  max-width: 90%;
  margin: 0 auto;
}

.wallpaper__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wallpaper__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 48%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: 16px;
  margin: 1%;
  padding: 15px;
  border-radius: 1em;
  -webkit-box-shadow: 0 5px 10px #000;
          box-shadow: 0 5px 10px #000;
  background-color: #ccc;
}
.wallpaper__card span {
  color: #000;
}
.wallpaper__card:hover {
  -webkit-box-shadow: 0 5px 20px #5500b6;
          box-shadow: 0 5px 20px #5500b6;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.span-text::after {
  content: " with text";
  font-style: italic;
  font-size: 85%;
}

@media (max-width: 768px) {
  .wallpaper__card {
    max-width: 100%;
  }

  .wallpaper__card:nth-child(even) {
    margin: 1% 1% 50px 1%;
  }
}